/* You can add global styles to this file, and also import other style files */


.form-container{
    background-color: rgba(222, 222, 222, 0.401);
    padding: 10px;
    border-radius: 0.375rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 15px 30px;
}